<div class="conteiner">
<div class="footer">
 <div class="about">
 <h3>About Us</h3>
 <p>ჩვენი გზა ახალია, მაგრამ მიზანი მკაფიო — განვითარება, ზრდა და რეალური ღირებულების შექმნა.
  აქ თითოეული ნაბიჯი მოტივაციაზეა დაფუძნებული — სიყვარულით დაწყებული საქმე ყოველთვის ყველაზე ძლიერი ხდება.</p>
 </div>

 <div class="links">
  <h3>Quick Link</h3>
  <button mat-flat-button routerLink="home">Home</button>
  <button mat-flat-button routerLink="public-products">Product</button>
  <button mat-flat-button routerLink="contact">Contact</button>

 </div>

 <div class="address">
  <h3>Contact Us</h3>
  <p>თბილისი, სამგორი, პოლიციის ქუჩა 13</p>
  <p>+995555649476</p>
  <p>mr.mishka3003&#64;gmail.com</p>
 </div>


</div>
<div class="icons">
  <div class="date">
   <h5>© {{currentYear}} ყველა უფლება დაცულია</h5>
  </div>
  <div class="icon">
    <p>Created By Mishiko Chochia</p>
     <div>
    <a href="https://www.facebook.com/profile.php?id=100027342321609" target="_blank">
      <mat-icon>facebook</mat-icon>
    </a>
    
    <a href="mailto:mr.mishka3003@gmail.com">
      <mat-icon>email</mat-icon>
    </a>
    
    <a href="https://www.linkedin.com/in/შენი-ლინკდინ-username/" target="_blank">
      <mat-icon>linkedin</mat-icon>
    </a>
    
    <a href="viber://add?number=+995555649476">
      <mat-icon>phone</mat-icon>
    </a>
    
    <a href="https://wa.me/995555649476" target="_blank">
      <mat-icon>chat</mat-icon>
    </a>
     </div>
    

  </div>

</div>
</div>