    <div class="container">
        <div class="footer">
            <div class="footer-section about floating">
                <h3>ჩვენ შესახებ 🌟</h3>
                <p>🔥 ჩვენი გზა ახალია, მაგრამ მიზანი მკაფიო — შენი ოცნების რეალობად ქცევა.
                   ⚡ აქ თითოეული შეძენა შენი ცხოვრების გაუმჯობესებაზეა დაფუძნებული
                   💎 ნდობით დაწყებული შეტყობინება ყოველთვის ყველაზე ძლიერი ხდება
                      "ჩვენ არ ვპირდებით ყველაფერს — მაგრამ იმას რასაც ვპირდებით, მას 100%-ით ვიზამთ. შენი ღიმილი ჩვენი წარმატების ერთადერთი ზომაა."
✨                    შენი დღე იწყება აქედან — შენი ბედნიერება მთავრდება აქ</p>
            </div>
            
            <div class="footer-section links">
                <h3>სწრაფი ლინკები 🚀</h3>
                <a routerLink="/home" class="nav-button">🏠 მთავარი</a>
                <a routerLink="/public-products" class="nav-button">📦 პროდუქტები</a>
                <a routerLink="/contact" class="nav-button">📞 კონტაქტი</a>
            </div>
            
            <div class="footer-section address">
                <h3>დაკავშირება 📱</h3>
                <div class="contact-info">
                    <div class="contact-item">
                        <span class="material-icons">phone</span>
                        <p>+995 555 649 476</p>
                    </div>
                    <div class="contact-item">
                        <span class="material-icons">email</span>
                        <p>mr.mishka3003&#64;gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bottom-section">
            <div class="copyright">
                <h5>© <span id="currentYear">{{currentYear}}</span> ყველა უფლება დაცულია ✨</h5>
            </div>
            
            <div class="creator-info">
                <p>შექმნილია ❤️ მიშიკო ჩოჩიას მიერ</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100027342321609" target="_blank" class="social-icon glow">
                        <span class="material-icons">facebook</span>
                    </a>
                    <a href="mailto:mr.mishka3003@gmail.com" class="social-icon glow">
                        <span class="material-icons">email</span>
                    </a>
                  
                    <a href="viber://add?number=+995555649476" class="social-icon glow">
                        <span class="material-icons">phone</span>
                    </a>
                    <a href="https://wa.me/995555649476" target="_blank" class="social-icon glow">
                        <span class="material-icons">chat</span>
                    </a>
                </div>
            </div>
        </div>
    </div>