<div class="product-details-container">
  <div class="loading" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
    <p>იტვირთება პროდუქტის დეტალები...</p>
  </div>
  
  <div class="error-message" *ngIf="!isLoading && error">
    <p>{{ error }}</p>
    <button mat-raised-button color="primary" (click)="goBack()">უკან დაბრუნება</button>
  </div>
  
  <mat-card class="product-card" *ngIf="!isLoading && product && !error">
    <div class="back-button">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    
    <div class="product-content">
      <div class="product-image-container">
        <img [src]="product.image" alt="{{ product.title }}" class="product-image">
      </div>

      <div class="product-meta" *ngIf=" currentUser">
        <h1 class="product-title">{{ product.title }}</h1>
        <p class="category">კატეგორია: {{ product.category || 'არ არის მითითებული' }}</p>
        <p class="year">გამოშვების წელი: {{ product.year || 'არ არის მითითებული' }}</p>
        <p class="price">პროდუქტის ფასი: {{ product.price }}₾</p>
        <p class="description">აღწერა: {{ product.description || 'არ არის მითითებული' }}</p>
        <p class="location">ადგილმდებარეობა: {{ product.location || 'არ არის მითითებული' }}</p>
        
        <div class="seller-info" >
          <h2>გამყიდველის ინფორმაცია</h2>
          <p class="seller">გამყიდველი: {{ product.userName }}</p>
          <p class="contact">საკონტაქტო მეილი: {{ currentUser.email }}</p>
          <p class="contact">საკონტაქტო ტელეფონი: {{ currentUser.phone }}</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>