<div class="contact">
  <div class="contactinfo">
      <h1>Contact Us</h1>
      
      <!-- წარმატების შეტყობინება -->
      <div *ngIf="formSubmitted" class="success-message">
          <mat-icon>check_circle</mat-icon>
          <p>თქვენი შეტყობინება წარმატებით გაიგზავნა!</p>
      </div>
      
      <!-- შეცდომის შეტყობინება -->
      <div *ngIf="errorMessage" class="error-message">
          <mat-icon>error</mat-icon>
          <p>{{ errorMessage }}</p>
      </div>
      
      <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
              <mat-label>სახელი გვარი</mat-label>
              <input matInput placeholder="" [(ngModel)]="contactForm.name" name="name" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>ელექტრონული ფოსტა</mat-label>
              <input matInput placeholder="" [(ngModel)]="contactForm.email" name="email" required type="email">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
              <mat-label>დაგვიტოვე კომენტარი</mat-label>
              <textarea matInput placeholder="თქვენი შეტყობინება..." [(ngModel)]="contactForm.message" name="message" required></textarea>
          </mat-form-field>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="loading" class="btn" >
              <span *ngIf="!loading">გაგზავნა</span>
              <span *ngIf="loading">იგზავნება...</span>
          </button>
      </form>
  </div>
  
  <div class="contactadress">
      <p><mat-icon>phone</mat-icon>+995555649476</p>
      <p><mat-icon>email</mat-icon>mr.mishka3003&#64;gmail.com</p>
  </div>
</div>