<div class="home">
    <div class="market">
        <span class="buysel">იყიდე და გაყიდე </span>
        <span class="mart">მარტივად!</span>
        <p class="text">თქვენთვის საუკეთესო ონლაინ მარკეტპლეისი სადაც შეგიძლიათ იყიდოთ და გაყიდოთ ნებისმიერი პროდუქცია</p>
        <div class="start">
            <button mat-flat-button routerLink="/login" >დაიწყე ახლავე</button>
            <button mat-flat-button >გაიგე მეტი</button>
        </div>
    </div>

    <div class="circle">

        <div class="circle1">
            <img src="https://i.ibb.co/XN3xpnt/Chat-GPT-Image-Apr-30-2025-09-51-56-AM-removebg-preview.png" alt="">
        </div>
        <div class="circle2">
            <img src="https://i.ibb.co/99yWFDHv/Chat-GPT-Image-Apr-30-2025-09-51-56-AM-removebg-preview-removebg-preview.png" alt="">
        </div>
        <div class="circle3">
            <img src="https://i.ibb.co/676XHMsn/Chat-GPT-Image-Apr-30-2025-09-51-56-AM-removebg-preview-removebg-preview-removebg-preview.png" alt="">
        </div>

    </div>

    
</div>

<div class="categorymain">
    <h1>პოპულარული კატეგორიები</h1>
    <div class="category-list">
        <div class="category" (click)="onCategoryClick('ტელეფონები')">
          <mat-icon>smartphone</mat-icon>
          <p>ტელეფონები</p>
        </div>
        <div class="category" (click)="onCategoryClick('ტექნიკა')">
          <mat-icon>devices_other</mat-icon>
          <p>ტექნიკა</p>
        </div>
        <div class="category" (click)="onCategoryClick('ავტომობილები')">
          <mat-icon>directions_car</mat-icon>
          <p>ავტომობილები</p>
        </div>
        <div class="category" (click)="onCategoryClick('ტანსაცმელი')">
          <mat-icon>checkroom</mat-icon>
          <p>ტანსაცმელი</p>
        </div>
        <div class="category" (click)="onCategoryClick('სათამაშოები')">
          <mat-icon>toys</mat-icon>
          <p>სათამაშოები</p>
        </div>
        <div class="category" (click)="onCategoryClick('კომპიუტერები')">
          <mat-icon>computer</mat-icon>
          <p>კომპიუტერები</p>
        </div>
      
          
    </div>
        
    </div>

    <div class="sell">
   <div class="sell-text">
    <span class="sell-free">🚀 გაყიდე მარტივად — უფასოდ!</span>
    <span>🔹განათავსე შენი პირველი 5 პროდუქტი სრულიად უფასოდ</span>
    <span>🔹გაიარე სწრაფი რეგისტრაცია</span>
    <span>🔹 განათავსე ფოტოები, აღწერა და დაიწყე გაყიდვა წამებში</span>
    <span>🔹 ტექნიკა, სათამაშოები, ტანსაცმელი, მანქანები და სხვა — რაც გინდა!</span>
    <button mat-flat-button routerLink="/login" target="_blank" class="btnsing">🔹დაიწყე დღესვე!</button>
   

   </div>

   <div class="sell-img">
    <div class="home hmn">
  
  
      <div class="circle">
  
          <div class="circle1">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d2/Stitch_%28Lilo_%26_Stitch%29.svg/1200px-Stitch_%28Lilo_%26_Stitch%29.svg.png" alt="">
          </div>
          <div class="circle2">
              <img src="https://image.api.playstation.com/vulcan/ap/rnd/202503/2520/f3c135f8ebdc50b782c6f5f02b27130b499e22847f05aee6.png" alt="">
          </div>
          <div class="circle3">
              <img src="https://i.ibb.co/676XHMsn/Chat-GPT-Image-Apr-30-2025-09-51-56-AM-removebg-preview-removebg-preview-removebg-preview.png" alt="">
          </div>
  
      </div>
  
   </div>
   </div>
    </div>


    <div class="whyus">
    <span class="why">🌟 რატომ ჩვენ?</span>
    <span class="free" >✅ უფასო რეგისტრაცია</span>
    <span>✅ იპოვე მყიდველი ან გამყიდველი მარტივად</span>
    <span>✅ მომხმარებელზე ორიენტირებული სერვისი</span>
    <span>✅ თანამედროვე დიზაინი და სწრაფი მუშაობა</span>

    </div>